*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background:#59227e;
    color:white;
    font-family: 'time new roman';
}
.contenedor{
    margin-top: 320px;
    margin-left: 45%;
}
.portada {
    width: 128px;
    height: 128px;
    margin-top: 350px;
    background:#59227e;
    background-image: url("../img/Cuatro.jpg"); 
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 300px auto;
}
#tempo{
    display: block;
    font-size: 25px;
    justify-content: center;
    background-color: #59227e;
    height: 128px;
    transition: .5s ease-out all;
}
.time {
    font-size: 33px;
}
